@model IEnumerable<FacturacionDespachoContable.Models.servicio>

@{
    ViewBag.Title = "Servicios";
}

<h2>Servicios</h2>

<p>
    <a class="btn btn-outline-primary" href="@Url.Action("Create")">Crear <i class="fa fa-plus-circle"></i> </a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idServicio }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.idServicio })
        </td>
    </tr>
}

</table>
