<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    @if (Session["Usuario"] != null)
            {
                var usuario = Session["Usuario"] as FacturacionDespachoContable.Models.usuario;

    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="nav-link" href="@Url.Action("Index","Home")">

                <i class="fa fa-home"></i>

            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">



                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa  fa-file"></i>
                            Facturación
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <a class="dropdown-item" href="@Url.Action("Index","CreditoFiscal")">
                                <i class="fa fa-file"></i>
                                Nuevo Documento
                            </a>

                            <a class="dropdown-item" href="@Url.Action("Archivo","CreditoFiscal")">
                                <i class="fa fa-archive"></i>
                                Archivo CCF
                            </a>
                            <a class="dropdown-item" href="@Url.Action("Index","Factura")">
                                <i class="fa fa-archive"></i>
                                Archivo CF
                            </a>
                        </div>
                    </li>





                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-steam"></i>
                            Configuración
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Action("Index","Cliente")">
                                <i class="fa fa-user"></i>
                                Clientes
                            </a>
                            <a class="dropdown-item" href="@Url.Action("Index","Servicio")">
                                <i class="fa fa-align-right"></i>
                                Servicios
                            </a>
                            <a class="dropdown-item" href="@Url.Action("Index","Estado")">
                                <i class="fa fa-folder"></i>
                                Estados
                            </a>
                            <a class="dropdown-item" href="@Url.Action("Index","Departamento")">
                                <i class="fa fa-map-signs"></i>
                                Departamentos
                            </a>
                            <a class="dropdown-item" href="@Url.Action("Index","municipios")">
                                <i class="fa fa-map-signs"></i>
                                Municipios
                            </a>
                            <a class="dropdown-item" href="@Url.Action("Index","Usuario")">
                                <i class="fa fa-user-circle"></i>
                                Usuarios
                            </a>


                        </div>
                    </li>

                </ul>



            </div>
            <div>
                
                <a href="@Url.Action("Index","Login")">
                    <span class="badge badge-dark">
                        @usuario.nombreCompleto
                    </span>
                    <i class="fa fa-power-off"></i>
                </a>
            </div>


        </nav>
    </div>
    }
    <div class="container body-content rounded shadow" style="background-color:azure">
        @RenderBody()

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
